@import url('https://fonts.googleapis.com/css2?family=Jura:wght@400;500;700&family=Outfit:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  .selected{
        
        
    display: inline-block;
    padding-bottom:4px;
    background-image: linear-gradient(#ff832b, #ff832b); /*ff0032*/
    background-position: 0 78%; /*OR bottom left */
    background-size: 0% 3px;
    background-repeat: no-repeat;
    transition:
        background-size 0.3s,
        background-position 0s 0.3s; /*change after the size immediately*/
  }

.selected:hover {
    color : #ff832b;
    /*text-decoration-line: underline;
    text-underline-offset: 8px; 
    text-decoration-thickness: 15%;   */    
    background-position: 100% 78%; /*OR bottom right*/
    background-size: 100% 3px;
  }  
}